# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
ENV/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# System / Windows user data (important!)
AppData/

# Logs
*.log

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Database files (optional)
*.sqlite3
